:root {
  --primary-color: #ffeedf;
  --secondary-color: #145434;
  --base-font-size: 36px;
}

body{
  background-color: var(--primary-color);
}

.card{
background-color: var(--secondary-color);
color: var(--primary-color);
 }

 .nav{
  display: flex;
  height: 60px;;
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
  font-size: var(--base-font-size);
 }

 .nav h1{
  margin: 0;
  flex: 1;
 }
.nav .menu {
  font-size: var(--base-font-size);
}

 .container{
  display:flex;
  justify-content: center;
 }

.beers{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  max-width: 1200px;;
  margin:  1rem;
  margin: 60px;
}

@media screen and (max-width:1000px) {
  .beers {
 grid-template-columns: 1fr;
  }
}

.index {
  top: -20px; 
  left: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #145434;
  background-color: #ffeedf;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #145434;
}